:root {
  --background: linear-gradient(
    180deg,
    rgba(162, 223, 247, 1) 0%,
    rgba(0, 119, 190, 1) 50%,
    rgba(0, 29, 61, 1) 100%
  );
  --primary-color: #00aaff;
  --secondary-color: #006699;
  --accent-color: #ffaa00;
  --text-light: #f0f8ff;
  --text-dark: #001d3d;
}

/* Header Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Poppins", "Times New Roman", sans-serif;
  background: var(--background);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

span {
  color: var(--text-light);
}

.navbar {
  background-color: rgba(0, 29, 61, 0.75);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.navbar .navbar-logo {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

.navbar-nav {
  display: flex;
  gap: 1.5rem;
}

.navbar-nav a {
  color: var(--accent-color);
  transition: 1s;
}

.navbar-nav a:hover {
  color: cyan;
  background-color: black;
  border-bottom: 2px solid cyan;
}
/* Header End */
/* Main start*/
main {
  padding-top: 5rem;
}
/* Section start */
section {
  padding: 5rem;
  margin: 10px 10px;
}
/* Login Section*/
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.login-section.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.login-container {
  background-color: rgba(70, 84, 207, 0.836);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-light);
}

input[type="email"],
[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

button[type="submit"] {
  background-color: var(--accent-color);
  border: none;
  padding: 0.6rem 1.2rem;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  transition: 0.5s;
  transform: scale(1.05);
}
/* Section end */
/* Main end*/
